.brands {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 24px;
    color: var(--main-color);
}

.title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    width: 55%;
    color: #000;
    text-align: center;
    margin-bottom: 32px;
}

.text {
    font-size: 16px;
    line-height: 23px;
    margin-top: 40px;

}

.companies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .companies {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .companies {
        grid-template-columns: 1fr 1fr;
    }
}